<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" type="text/css" th:href="@{/css/styles.css}">
    <title>로그인</title>
</head>
<body>
<div class="container-fluid">
    <p></p>
    <p></p>
    <p></p>
    <p></p>
    <!-- 404 Error Text -->
        <div class="text-center">
            <div class="error mx-auto" data-text="403">403</div>
            <p class="lead text-gray-800 mb-5">Access Denied</p>
            <!--        <p class="text-gray-500 mb-0">It looks like you found a glitch in the matrix...</p>-->
            <a th:href="@{/}">← Back to Dashboard</a>
        </div>
</div>
</body>
</html>