<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" type="text/css" th:href="@{/css/styles.css}">
    <title>KaiaTicket</title>
</head>
<body>
<nav th:replace="~{navbar :: navbarFragment}"></nav>
<!-- Page Wrapper -->
<div id="wrapper">
    <!-- Sidebar -->
    <ul th:replace="~{adminNavigation :: adminNavigationFragment}"></ul>
    <div class="container-fluid">
        <p class="mb-4"></p>
        <button type="button" class="btn btn-primary" th:onclick="'location.href=\'' + @{/admin/banner-console/register} + '\';'">배너 등록</button>
        <p class="mb-4"></p>
        <div class="row">
            <table class="table table-vertical-center">
                <thead>
                    <tr>
                        <th class="m-0 font-weight-bold text-primary">배너명</th>
                        <th class="m-0 font-weight-bold text-primary">삭제</th>
                    </tr>
                </thead>
                <tbody>
                <tr th:if="${not #lists.isEmpty(bannerList)}" th:each="row, iterStat:${bannerList}">
                    <td th:text="${row.bannerTitle}"></td>
                    <td class="">
                        <form th:action="@{/banner (id=${row.id}, bannerTitle=${row.bannerTitle})}" th:method="delete" onsubmit="return showConfirm()">
                            <button type="submit" class="btn btn-primary">삭제</button>
                        </form>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>

<!-- Scroll to Top Button-->
<a class="scroll-to-top rounded" href="#page-top">
    <i class="fas fa-angle-up"></i>
</a>

<!-- Logout Modal-->
<div class="modal fade" id="logoutModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Ready to Leave?</h5>
                <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">×</span>
                </button>
            </div>
            <div class="modal-body">Select "Logout" below if you are ready to end your current session.</div>
            <div class="modal-footer">
                <button class="btn btn-secondary" type="button" data-dismiss="modal">Cancel</button>
                <a class="btn btn-primary" href="login.html">Logout</a>
            </div>
        </div>
    </div>
</div>

<script>
    function showConfirm() {
        const result = confirm("삭제하시겠습니까?");
        if(result) {
            return true
        }
        else {
            return false
        }
    }
</script>
<script src="/vendor/jquery/jquery.min.js"></script>
<script src="/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
<script src="/vendor/jquery-easing/jquery.easing.min.js"></script>
<script src="/js/sb-admin-2.js"></script>
<script src="/js/chart-area-demo.js"></script>

</body>
</html>