<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" type="text/css" th:href="@{/css/styles.css}">
    <title>KaiaTicket</title>
    <style>
        h2 {

        }
        li {
            display: flex;
            list-style: none;
        }
        .infoLabel {
            display: inline-block;
            width: 5rem;
            color: #000;
        }
    </style>
</head>
<body>
<nav th:replace="~{navbar :: navbarFragment}"></nav>
<section class="py-3">
    <div class="container px-4 px-lg-5 my-4">
        <div class="row-md-auto gx-4 gx-lg-5 mb-4">
            <h2 class="text-dark" th:if="${event.genre.toString() == 'musical'}" th:text="'뮤지컬' + ' <' + ${event.eventName} + '>' "></h2>
            <h2 class="text-dark" th:if="${event.genre.toString() == 'concert'}" th:text="'콘서트' + ' <' + ${event.eventName} + '>' "></h2>
            <h2 class="text-dark" th:if="${event.genre.toString() == 'theater'}" th:text="'연극' + ' <' + ${event.eventName} + '>' "></h2>
            <h2 class="text-dark" th:if="${event.genre.toString() == 'exhibition'}" th:text="'전시/행사' + ' <' + ${event.eventName} + '>' "></h2>
            <h2 class="text-dark" th:if="${event.genre.toString() == 'sports'}" th:text="'스포츠' + ' <' + ${event.eventName} + '>' "></h2>
        </div>
        <div class="row gx-4 gx-lg-5">
            <div class="col-md-auto">
                <img class=" mb-5 mb-md-0" th:src="@{${event.posterUrl}}" alt="OwnCloud Image" width="300" height="424">
            </div>
            <div class="col-md-auto mt-2">
                <ul>
                    <li class="mb-3">
                        <strong class="infoLabel">장소</strong>
                        <div class="ml-1" th:text="${event.location}"></div>
                    </li>
                    <li class="mb-3">
                        <strong class="infoLabel">공연기간</strong>
                        <div class="ml-1" th:text="${event.startDate + ' ~ ' + event.endDate}"></div>
                    </li>
                    <li class="mb-3">
                        <strong class="infoLabel">공연시간</strong>
                        <div class="ml-1" th:text="${event.performanceTime}"></div>
                    </li>
                    <li class="mb-3">
                        <strong class="infoLabel">관람연령</strong>
                        <div th:if="${event.rating.toString() == 'ALL'}" class="ml-1" th:text="전체이용가"></div>
                        <div th:if="${event.rating.toString() == 'R12'}" class="ml-1" th:text="12세이용가"></div>
                        <div th:if="${event.rating.toString() == 'R15'}" class="ml-1" th:text="15세이용가"></div>
                        <div th:if="${event.rating.toString() == 'R18'}" class="ml-1" th:text="18세이용가"></div>
                    </li>
                    <li class="mb-3">
                        <strong class="infoLabel">가격</strong>
                        <div class="ml-1" th:text="${event.price + '원'}"></div>
                    </li>
                </ul>
<!--                <p class="lead" th:text="${event.description}"></p>-->
            </div>
        </div>
    </div>
</section>

<script src="/vendor/jquery/jquery.min.js"></script>
<script src="/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
<script src="/vendor/jquery-easing/jquery.easing.min.js"></script>
<script src="/js/sb-admin-2.js"></script>
<script src="/js/chart-area-demo.js"></script>

</body>
</html>