<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" type="text/css" th:href="@{/css/styles.css}">
    <title>회원가입</title>
</head>
<body>
<nav th:replace="~{navbar :: navbarFragment}"></nav>
<form th:action="@{/user/register}" method="post" th:object="${memberForm}">
    <div>
        <label for="username">아이디</label>
        <input type="text" id="username" th:field="*{name}" required>
    </div>
    <div>
        <label for="password">패스워드</label>
        <input type="password" id="password" th:field="*{password}" required>
    </div>
    <div>
        <button type="submit">회원가입</button>
    </div>
<!--    <div th:if="${param.error}">-->
<!--        <p style="color:red;">로그인 실패! 사용자명이나 비밀번호를 확인해주세요.</p>-->
<!--    </div>-->
</form>
</body>

</html>