<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" type="text/css" th:href="@{/css/styles.css}">
    <title>회원가입</title>
</head>
<body class="bg-gradient-success">
<nav th:replace="~{navbar :: navbarFragment}"></nav>
<!--    <div>-->
<!--        <div th:text="${currentIp}"></div>-->
<!--    </div>-->
<div class="container">
    <!-- Outer Row -->
    <div class="row justify-content-center">
        <div class="col-xl-8 col-lg-8 col-md-9 position-relative">
            <div class="card o-hidden border-0 shadow-lg my-5">
                <div class="card-body p-0">
                    <!-- Nested Row within Card Body -->
                    <div class="row justify-content-center">
                        <!--                            <div class="col-lg-6 d-none d-lg-block bg-login-image"></div>-->
                        <div class="col-lg-6 row-lg-6">
                            <div class="p-5">
                                <div class="text-center">
                                    <h1 class="h4 text-gray-900 mb-4">Welcome Back!</h1>
                                </div>
                                <form th:action="@{/user/register}" class="user" method="post" th:object="${memberForm}">
                                    <div class="form-group">
                                        <input type="text" id="username" th:field="*{name}" class="form-control form-control-user" placeholder="Enter Email Address..." required>
                                    </div>
                                    <div class="form-group">
                                        <input type="password" id="password" th:field="*{password}" class="form-control form-control-user" placeholder="Password" required>
                                    </div>
                                    <button class="btn btn-primary btn-user btn-block" type="submit">Submit</button>
                                    <hr>
                                </form>
                                <div class="text-center" th:if="${error}">
                                    <p style="color:red;">Member Already Exists.</p>
                                </div>
                                <div class="text-center">
                                    <a class="small" th:href="@{/user/login}">Return to Login</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</body>

</html>